<div class="container pt-4">
  <!-- Order nav bar  -->
  <app-order-navar></app-order-navar>
    <!-- Add product buttom -->
    <div class="position-relative pb-3">
      <button
        (click)="goToProductsSelection()"
        class="btn btn-light position-absolute top-50 start-50 translate-middle"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
        Create new order
      </button>
    </div>
    <!-- Search bar -->
    <div class="d-flex my-4">
        <input 
            class="form-control me-2"
            type="search"
            placeholder="Search User, Status, paid_out"
            aria-label="Search"
            (keyup)="loadOrders()"
            [(ngModel)]="search"
            />
    </div>
    <!-- Table products -->
    <div class="table-responsive">
      <table *ngIf="orders" class="table table-striped">
          <thead>
              <tr>
                  <th id="_id">_id</th>
                  <th>client</th>
                  <th>Status</th>
                  <th>Paid Out</th>
                  <th>Creation date</th>
              </tr>
          </thead> 
          <tbody >
              <tr [(ngModel)]="orders" ngDefaultControl *ngFor="let order of orders">
                    <td class="list-group">
                      <a class="list-group-item list-group-item-action"
                      [routerLink]="['/admin/orders', order._id]" 
                      >
                          {{ order._id }}
                      </a>  
                    </td>
                    <td>{{ order.clientName }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.paid_out }}</td>
                    <td>{{ order.creation_date | date }}</td>
              </tr>
          </tbody>
      </table>
    </div>
</div>