<div class="row mx-auto my-3">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-reader mx-auto mt-3">
          <h4>Create User</h4>
        </div>
        <div class="card-body">
          <!-- Form -->
          <form [formGroup]="form" (ngSubmit)="formAction($event)">
            <!-- name -->
            <div class="form-floating mb-3 my-2">
              <input
                formControlName="name"
                type="text"
                name="name"
                class="form-control"
                placeholder="Name"
                id="name"
                autofocus
                required
              />
              <label for="name">Name *</label>
            </div>
            <!-- email -->
            <div class="form-floating mb-3 form-group my-2">
              <input
                [class.is-invalid]="form.controls.email.invalid"
                formControlName="email"
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                id="email"
                required
              />
              <label for="email">Email *</label>
            </div>
            <!-- phone -->
            <div class="form-floating mb-3 my-2">
              <input
                formControlName="phone"
                type="text"
                name="phone"
                class="form-control"
                placeholder="Phone"
                id="phone"
                required
              />
              <label for="phone">Phone *</label>
            </div>
            <!-- deliveryAddress -->
            <div class="form-floating mb-3 my-2">
              <input
                formControlName="deliveryAddress"
                type="text"
                name="deliveryAddress"
                class="form-control"
                placeholder="DeliveryAddress"
                id="deliveryAddress"
                required
              />
              <label for="deliveryAddress">Delivery Address *</label>
            </div>
            <!-- birthDate -->
            <div class="form-group my-2">
              <input
                formControlName="birthDate"
                type="Date"
                name="birthDate"
                class="form-control"
                placeholder="birthDate"
                required
              />
            </div>
            <!-- documentNumber -->
            <div class="form-floating mb-3 my-2">
              <input
                formControlName="documentNumber"
                type="text"
                name="documentNumber"
                class="form-control"
                placeholder="Document Number"
                id="documentNumber"
                required
              />
              <label for="documentNumber">Document Number *</label>
            </div>

            <button
              [disabled]="form.invalid"
              (click)="initModal(confirmationModal)"
              type="submit"
              class="btn btn-primary w-100"
              name="submitButton"
            >
              Save
            </button>
          </form>
          <hr/>
          <div>
            <button
              (click)="redirectToUsersTable()"
              type="button"
              class="btn btn-secondary w-100"
              name="signUpButton"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    #confirmationModal
    class="modal fade"
    id="confirmationModal"
    tabindex="-1"
    aria-labelledby="confirmationModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="modal-body" class="modal-body fs-3">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
  