<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
  <!-- navbar components -->
  <div class="container-fluid py-0 mx-0">
    <!-- Sidebar togler -->
    <button
      #showSideBarButton
      id="showSideBarButton"
      type="button"
      class="navbar-toggler sideBar-toggler"
      (click)="showSideBar(showSideBarButton)"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand py-0 text-danger mr-1 fw-bold fs-2" href="https://davidcz94.github.io/" target="_blank">
      DCZ94
    </a>
  </div>
</nav>
