<div class="container pt-4">
    <!-- Add product buttom -->
    <div class="position-relative py-3">
      <button
        routerLink="createUser"
        class="btn btn-light position-absolute top-50 start-50 translate-middle"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
        Add
      </button>
    </div>
    <!-- Search bar -->
    <div class="d-flex my-4">
        <input 
            class="form-control me-2"
            type="search"
            placeholder="Search User"
            aria-label="Search"
            (keyup)="loadUsers()"
            [(ngModel)]="search"
            />
    </div>
    <!-- Table products -->
    <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>name</th>
                  <th>Email</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users">
                    <td class="list-group">
                      <a class="list-group-item list-group-item-action"
                      [routerLink]="['./', user._id]" >
                          {{ user.name }}
                      </a>  
                    </td>
                    <td>{{ user.email }}</td>
                    <td *ngIf="user.isAdmin; else isClient">
                      Admin
                    </td>
                    <ng-template #isClient>
                        <td>
                          Client
                        </td>
                    </ng-template>
              </tr>
          </tbody>
      </table>
    </div>

  <!-- PAgination -->
  <nav class="mt-1" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled':pageNumber - 1 == 0}">
        <button (click)="previousPage()" class="page-link disabled" tabindex="-1" aria-disabled="true">Previous</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':pageNumber - 1 == 0}">
        <button (click)="jumpToPage(pageNumber -1)"  class="page-link">{{ pageNumber - 1 }}</button>
      </li>
      <li class="page-item active">
        <button (click)="jumpToPage(pageNumber)"  class="page-link">{{ pageNumber }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':!isThereMoreData}">
        <button (click)="jumpToPage(pageNumber + 1)"  class="page-link">{{ pageNumber + 1 }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':!isThereMoreData}">
        <button (click)="nextPage()" class="page-link">Next</button>
      </li>
    </ul>
  </nav>
</div>