<div class="container pt-4">
  <!-- Add product buttom -->
  <div class="position-relative py-3">
    <button
      routerLink="createProduct"
      class="btn btn-light position-absolute top-50 start-50 translate-middle"
    >
      <fa-icon [icon]="faPlus"></fa-icon>
      Add
    </button>
  </div>
  <!-- Search bar -->
  <div class="d-flex my-4">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search Product"
      aria-label="Search"
      (keyup)="loadProducts()"
      [(ngModel)]="search"
    />
  </div>
  <!-- Table products -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="align-middle">Reference <br> image</th>
          <th class="align-middle">Sku</th>
          <th class="align-middle">Product</th>
          <th class="align-middle">Brand</th>
          <th class="align-middle">Price</th>
          <th class="align-middle">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td class="align-middle">
            <img *ngIf="product.productPictures" [src]="product.productPictures[0]" class="rounded" alt="product Image">
          </td>
          <td class="align-middle">
            <a
              class="list-group-item list-group-item-action"
              [routerLink]="['./', product._id]"
            >
              {{ product.sku }}
            </a>
          </td>
          <td class="align-middle">{{ product.name }}</td>
          <td class="align-middle">{{ product.brand }}</td>
          <td class="align-middle">{{ product.sale_price | currency }}</td>
          <td class="align-middle">{{ product.stock }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAgination -->
  <nav class="mt-1" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled':pageNumber - 1 == 0}">
        <button (click)="previousPage()" class="page-link disabled" tabindex="-1" aria-disabled="true">Previous</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':pageNumber - 1 == 0}">
        <button (click)="jumpToPage(pageNumber -1)"  class="page-link">{{ pageNumber - 1 }}</button>
      </li>
      <li class="page-item active">
        <button (click)="jumpToPage(pageNumber)"  class="page-link">{{ pageNumber }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':!isThereMoreData}">
        <button (click)="jumpToPage(pageNumber + 1)"  class="page-link">{{ pageNumber + 1 }}</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled':!isThereMoreData}">
        <button (click)="nextPage()" class="page-link">Next</button>
      </li>
    </ul>
  </nav>
</div>
<!-- Modal -->
<div
  #confirmationModal
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-body" class="modal-body fs-3">
        <div class="d-flex justify-content-center mt-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
