<div class="row mx-auto my-5">
  <div class="col-md-4 mx-auto">
    <!-- Sign-in card -->
    <div class="card">
      <div class="card-reader mx-auto mt-3">
        <h4>Sign-in</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="formAction($event)">
          <div class="form-group my-2">
            <input
              formControlName="email"
              type="text"
              name="email"
              class="form-control"
              placeholder="Email"
              autofocus
              required
            />
          </div>
          <!-- Password input -->
          <div class="form-group my-2">
            <input
              #passwordInput 
              formControlName="password"
              type="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <!-- Show Password check -->
          <div class="form-group form-check form-switch my-2" (click)="showPassword()">
            <input #showPasswordCheck class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
              Show password
            </label>
          </div>
          <div class="form-group form-check form-switch my-2">
            <input
              formControlName="rememberMe"
              class="form-check-input"
              type="checkbox"
              id="rememberMeSwitch"
              checked=""
            />
            <label class="form-check-label" for="rememberMeSwitch"
              >Rememberme</label
            >
          </div>
          <button
            [disabled]="form.invalid"
            (click)="initModal(confirmationModal)"
            type="submit"
            class="btn btn-primary w-100"
            name="submitButton"
          >
            Sign-in
          </button>
        </form>
        <hr />
        <div>
          <button
            (click)="redirectToSignUp()"
            type="button"
            class="btn btn-secondary w-100"
            name="signUpButton"
          >
            Sign-up
          </button>
        </div>
      </div>
    </div>
    <!-- Instructions card -->
    <div class="card text-center">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <h5 class="card-title">Please read this before using the Products app and press Sign-in button.</h5>
        <p class="card-text">Fill the form with the next data.</p>
      </div>
      <div class="card-footer text-muted">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="m-auto">
              <div class="fw-bold">Email</div>
              root@undefined.sh
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="m-auto">
              <div class="fw-bold">Password</div>
              1234qwer
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  #confirmationModal
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-body" class="modal-body fs-3">
        <div class="d-flex justify-content-center mt-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
